MonitorGUI/Connected Services/MonitorServiceReference/MonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorService_GetNbRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetNbRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetNbCacheRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCacheRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetNbCacheRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCacheRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetCacheExpirationTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheExpirationTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetCacheExpirationTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheExpirationTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_SetCacheExpirationTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCacheExpirationTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_SetCacheExpirationTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCacheExpirationTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetCachedCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCachedCities" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_GetCachedCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCachedCitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorService">
    <wsdl:operation name="GetNbRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/GetNbRequest" message="tns:IMonitorService_GetNbRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/GetNbRequestResponse" message="tns:IMonitorService_GetNbRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbCacheRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/GetNbCacheRequest" message="tns:IMonitorService_GetNbCacheRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/GetNbCacheRequestResponse" message="tns:IMonitorService_GetNbCacheRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheExpirationTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/GetCacheExpirationTime" message="tns:IMonitorService_GetCacheExpirationTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/GetCacheExpirationTimeResponse" message="tns:IMonitorService_GetCacheExpirationTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCacheExpirationTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/SetCacheExpirationTime" message="tns:IMonitorService_SetCacheExpirationTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/SetCacheExpirationTimeResponse" message="tns:IMonitorService_SetCacheExpirationTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCachedCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/GetCachedCities" message="tns:IMonitorService_GetCachedCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/GetCachedCitiesResponse" message="tns:IMonitorService_GetCachedCities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitorServiceEndpoint" type="tns:IMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNbRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/GetNbRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbCacheRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/GetNbCacheRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheExpirationTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/GetCacheExpirationTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCacheExpirationTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/SetCacheExpirationTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCachedCities">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/GetCachedCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorService">
    <wsdl:port name="MonitorServiceEndpoint" binding="tns:MonitorServiceEndpoint">
      <soap:address location="http://localhost:8732/MonitorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>